<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/bootstrap-theme.min.css" />
		
		<!--<link rel="stylesheet" type="text/css" href="css/amazeui.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/amazeui.flat.min.css"/>
		<link rel="stylesheet" href="css/myself_blog.css" />-->
	</head>
	<body>
		<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
		</div>
		<div class="span8">
			<form class="hero-unit" action="login.html" method="post">
				<h1>
					管理员登陆
				</h1><br /><legend></legend>
				<div style="width: 280px; margin: auto;">
					<p>
						<lable>
							账号：
						</lable><input name="adminname" type="text" />
					</p>
					<p>
						<lable>
							密码：
						</lable><input name="password" type="password" />
					</p>
					<p>
						<input type="submit" class="btn btn-primary btn-large" style="width: 100%;" vlaue="登陆"></input>
					</p>
				</div>
			</form>
		</div>
		<div class="span2">
		</div>
	</div>
</div>
	</body>
	<script type="text/javascript" src="js/lib/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui.js" ></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</html>
