<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/amazeui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/amazeui.flat.min.css"/>
    <title>唠嗑吧</title>
</head>
<body>
    <section class="am-panel am-panel-success">
        <header class="am-panel-hd">
            <h3 class="am-panel-title">消息</h3>
        </header>
        <div class="am-panel-bd">
            <div class="am-comments-list">
                <div class="am-comment">
                    <a href="#link-to-user-home">
                        <img src="" alt="" class="am-comment-avatar" width="48" height="48"/>
                    </a>
                    <div class="am-comment-main">
                        <header class="am-comment-hd">
                            <div class="am-comment-meta">
                                <a href="#link-to-user" class="am-comment-author">某人</a>
                                评论于 <time datetime="2013-07-27T04:54:29-07:00" title="2013年7月27日 下午7:54 格林尼治标准时间+0800">2014-7-12 15:30</time>
                            </div>
                        </header>
                        <div class="am-comment-bd">
                            ...
                        </div>
                    </div>
                </div>
                <div class="am-comment">
                    <a href="#link-to-user-home">
                        <img src="" alt="" class="am-comment-avatar" width="48" height="48"/>
                    </a>
                    <div class="am-comment-main">
                        <header class="am-comment-hd">
                            <div class="am-comment-meta">
                                <a href="#link-to-user" class="am-comment-author">某人</a>
                                评论于 <time datetime="2013-07-27T04:54:29-07:00" title="2013年7月27日 下午7:54 格林尼治标准时间+0800">2014-7-12 15:30</time>
                            </div>
                        </header>
                        <div class="am-comment-bd">
                            ...
                        </div>
                    </div>
                </div>
                <div class="am-comment">
                    <a href="#link-to-user-home">
                        <img src="" alt="" class="am-comment-avatar" width="48" height="48"/>
                    </a>
                    <div class="am-comment-main">
                        <header class="am-comment-hd">
                            <div class="am-comment-meta">
                                <a href="#link-to-user" class="am-comment-author">某人</a>
                                评论于 <time datetime="2013-07-27T04:54:29-07:00" title="2013年7月27日 下午7:54 格林尼治标准时间+0800">2014-7-12 15:30</time>
                            </div>
                        </header>
                        <div class="am-comment-bd">
                            ...
                        </div>
                    </div>
                </div>
                <div class="am-comment am-comment-flip">
                    <a href="#link-to-user-home">
                        <img src="" alt="" class="am-comment-avatar" width="48" height="48"/>
                    </a>
                    <div class="am-comment-main">
                        <header class="am-comment-hd">
                            <div class="am-comment-meta">
                                <a href="#link-to-user" class="am-comment-author">某人</a>
                                评论于 <time datetime="2013-07-27T04:54:29-07:00" title="2013年7月27日 下午7:54 格林尼治标准时间+0800">2014-7-12 15:30</time>
                            </div>
                        </header>
                        <div class="am-comment-bd">
                            ...
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="am-panel-footer">
            <div class="am-form">
                <p>
                    <span>name:</span><input id="name" name="name" type="text" />
                </p>
            </div>
        </footer>
    </section>
</body>
</html>