<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>黑白的博客</title>
		<link rel="stylesheet" href="css/bootstrap-theme.min.css" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/amazeui.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/amazeui.flat.min.css"/>
		<link rel="stylesheet" href="css/myself_blog.css" />
	</head>
	<body>
		<!--导航-->
		<header class="am-topbar" style="padding-bottom: 0px;">
		  <h1 class="am-topbar-brand">
		    <a href="#">blog</a>
		  </h1>
		  <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
			  <ul class="am-nav am-nav-pills am-topbar-nav">
			  	<li><a href="index.html">首页</a></li>
			  	<li><a href="articles.ejs">文章</a></li>
			  	<li class="am-active"><a href="share.ejs">分享</a></li>
			  	<li><a href="msgboard.ejs">留言板</a></li>
			  	<li><a href="about.ejs">关于</a></li>
			  </ul>
		  </div>
		</header>
		<div class="index_f">
			<ul class="index_articles am-fl">
				<li class="index_article">
					<img class="am-fr img-thumbnail index_img" src="images/1.png" />
					<h1>人生就是不断挑战，不断进步！</h1>
					<p style="color: #999999;"><small>作者：黑白|发布日期：2017.01.30 13:02|阅读量：0|评价：0条</small></p>
					<p>我们决定做一名程序员那一刻开始，就注定了一辈子的的不断进取。</p>
				</li>	
				<li class="index_article">
					<img class="am-fr img-thumbnail index_img" src="images/1.png" />
					<h1>人生就是不断挑战，不断进步！</h1>
					<p style="color: #999999;"><small>作者：黑白|发布日期：2017.01.30 13:02|阅读量：0|评价：0条</small></p>
					<p>我们决定做一名程序员那一刻开始，就注定了一辈子的的不断进取。</p>
				</li>	
			</ul>
			<div class="index_about am-fr">
				<section class="am-panel am-panel-default">
				  <header class="am-panel-hd">
				    关于
				  </header>
				  <div class="am-panel-bd">
				  <p> &nbsp;&nbsp;&nbsp;&nbsp;一个年轻的程序员，怀着无限热情，挑战着一个个的难题，不断进步，不断成长，在代码寻找快乐，用代码书写人生。</p> 
				  <button type="button" class="am-btn am-btn-primary">查看更多</button>
				  </div>
				</section>
			</div>
		</div>
		
	</body>
	<script src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/amazeui.ie8polyfill.min.js" ></script>
	<script type="text/javascript" src="js/amazeui.min.js" ></script>
	<script type="text/javascript" src="js/amazeui.widgets.helper.min.js" ></script>
	<script>
		function share(){
			
		}
	</script>
</html>
